body {
    background-color: rgb(0, 0, 20);
    color: rgb(239, 239, 239);
    overflow-x: hidden;
    max-width: 1637px;
    margin: 0 auto;
    z-index: 1;
}
/* ------   Fonts   ------ */

* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: normal;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 200;
}

h3 {
    font-size: 22px;
    font-weight: 350;
}

p {
    font-size: 18px;
    line-height: 21px;
}

a {
    color: rgb(51, 78, 198);
}

/* Date under project name */
h6 {
    color: rgba(255, 255, 255, 0.823);
    margin-top: -15px;
    margin-bottom: 0;
}

/* Easy fix to hide spaceVideo overflow to the sides of AboutMe */
.aboutMeBg {
    position: absolute;
    z-index: -50;
    left: 0;
    background-color: rgb(0, 0, 18);
    height: 500px;
    width: 400vh;
}

/* -----------  Phone Version   ----------- */

@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }

    .aboutMeBg {
        background-color: transparent;
        width: 100%;
    }
}
